/.quarto/
**/*.quarto_ipynb
.ipynb_checkpoints/Explaining the Global Diffusion of Montessori-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
~$plaining the Global Diffusion of Montessori 20260327.docx
WVS_Cross-National_Wave_7_csv_v6_0.csv
~$plaining the Global Diffusion of Montessori 20260327.docx
~$plaining the Global Diffusion of Montessori 20260327.docx
