/.quarto/
**/*.quarto_ipynb
.ipynb_checkpoints/Explaining the Global Diffusion of Montessori-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
.ipynb_checkpoints/Montessori-Census-checkpoint.ipynb
